img {
  width: 100px;
}
#Tweet-icon {
  width: 16px;
}
#Yt-icon {
  width: 16px;
}

$footerLinkTextColor: #f7f7f79c;
$backgroundGrey: #f7f7f7;
$blue1: #0ea5dc;
$blue2: #0a7fab;
$iconBlue: #0ea5da;
$helpLinkBlue: #2cb0e0;
$footerBlue: #0a7fab;
$footerTextColor: rgba(255, 255, 255, 0.534);

@mixin CircleBox {
  padding: 18px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $backgroundGrey;
  height: 100vh; //desktop
  //   overflow: hidden;
  //   height: fit-content; //mobile
}
.header-container {
  display: flex;
  width: 100vw;
}
.logo-container {
  position: relative;
  left: 18vw;
  margin: 13px;
}
#header-logo {
  width: 10vw;
}
.title-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: $blue1;
  height: 20vh;
}
.titleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h1 {
    margin: 0;
    color: white;
    font-size: 2em;
  }
  h5 {
    font-size: 1em;
    margin: 0;
    color: white;
  }

  margin-bottom: 3vh;
}
.main {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.circle {
  @include CircleBox();
  background-color: $backgroundGrey;
  position: relative;
  top: -60px;
}
#form-icon {
  width: 42px;
  padding: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.164);
  border-bottom-left-radius: 2%;
  // width: 430px;
  border-bottom-right-radius: 2%;
  // width: 430px;
  margin:0 0 0 140px;
  flex: 1 0 0;
}

.form {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  // width: 330px;
  // width: 100%;
  // width: 70%;
  input {
    height: 30px;
    margin: 10px 0;
  }
}
.name {
  display: flex;
  // margin: 10px;
  // width: 50%;
  // justify-content: space-between;

  // text-align: center;
}
#firstName_input {
  margin-right: 20px;
}

.firstName-container,
.lastName-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
}
.firstName-container {
  margin-right: 10px;
}
.lastName-container {
  margin-left: 10px;
}
.company-container,
.email-container {
  // width: fit-content;

  display: flex;
  flex-direction: column;
}
.company-container {
  // width: fit-content;
}

.name,
.company-container,
.email-container {
  margin-bottom: 20px;
}

.submit-btn {
  width: 30%;
  margin-bottom: 70px;
}
.info-container {
  margin-left: 70px;
  position: relative;
  top: 50px;
}

[class^="info-text-container"] {
  align-items: center;
  width: 300px;
  img {
    width: 40px;
  }
}
.info-text-container-4 {
  display: flex;
}
.info-text-4 {
  h3,
  h5 {
    margin: 0 0 0 10px;
  }
}
#help-icon {
  width: 60px;
  height: 60px;
}
[class^="info-text-"] {
  display: flex;
}
.footer {
  flex-shrink: 0;
  margin-top: auto;
  height: fit-content;
  width: 100vw;
  background-color: $footerBlue;
}
.footer-container {
  display: flex;
  flex-direction: column;
  height: fit-content;

  margin: 0 3vw;
}
.footer-content {
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  color: $backgroundGrey;
}

.table {
  display: flex;
  align-items: flex-start;
}
[class^="col-"] {
  ul {
    list-style-type: none;
    padding: 0;
    a {
      color: $footerLinkTextColor;
      text-decoration: none;
    }
  }

  h5 {
    padding: 0;
    margin: 0;
  }
}
.col-two-container {
  margin: 0 50px 0 180px;
}
.col-three-container {
  margin: 0 100px 0 50px;
}

#footer-logo {
  position: relative;
}
.copyrights {
  color: $footerLinkTextColor;
}
