img {
  width: 100px;
}

#Tweet-icon {
  width: 16px;
}

#Yt-icon {
  width: 16px;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f7f7;
  height: 100vh;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.logo-container {
  position: relative;
  left: 18vw;
  margin: 13px;
}

#header-logo {
  width: 10vw;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0ea5dc;
  height: 20vh;
}

.titleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 3vh;
}

.titleText h1 {
  margin: 0;
  color: white;
  font-size: 2em;
}

.titleText h5 {
  font-size: 1em;
  margin: 0;
  color: white;
}

.main {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.circle {
  padding: 18px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f7f7f7;
  position: relative;
  top: -60px;
}

#form-icon {
  width: 42px;
  padding: 5px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.164);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.164);
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.form {
  margin: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#firstName_input {
  width: 50%;
}

#lastName_input {
  width: 50%;
}

.firstName-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lastName-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.company-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.name,
.company-container,
.email-container {
  margin: 20px 0;
}

.company-container,
.email-container {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit-btn {
  width: 30%;
}

.info-container {
  margin: 0 0 0 64px;
  position: relative;
  top: 50px;
}

[class^="info-text-container"] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

[class^="info-text-container"] img {
  width: 32px;
}

.info-text-container-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-text-4 h3,
.info-text-4 h5 {
  margin: 0 0 0 10px;
}

#help-icon {
  width: 45px;
  height: 45px;
}

[class^="info-text-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-color: #0a7fab;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 3vw;
}

.footer-content {
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f7f7f7;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

[class^="col-"] ul {
  list-style-type: none;
  padding: 0;
}

[class^="col-"] ul a {
  color: #f7f7f79c;
  text-decoration: none;
}

[class^="col-"] h5 {
  padding: 0;
  margin: 0;
}

.col-two-container {
  margin: 0 50px 0 180px;
}

.col-three-container {
  margin: 0 100px 0 50px;
}

#footer-logo {
  position: relative;
}

.copyrights {
  color: #f7f7f79c;
}
/*# sourceMappingURL=style.css.map */