.main {
  background-color: #f7f7f7;
  height: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 18.5vw;
}

@media (max-width: 1023px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.main img {
  width: 1vw;
}

.circle {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f7f7f7;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .circle {
    width: 14vw;
    height: 14vw;
  }
}

@media (min-width: 1023px) {
  .circle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.8vw;
  }
}

#form-icon {
  margin: auto;
  width: 3.5vh;
  height: 3.5vh;
}

.form-container {
  -webkit-transform: translateX(-1%);
          transform: translateX(-1%);
  -webkit-box-flex: 1.28;
      -ms-flex: 1.28;
          flex: 1.28;
  margin: 0 1.5vh;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

@media (max-width: 1023px) {
  .form-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 0;
    margin: 0 5vw;
  }
}

@media (max-width: 1240px) {
  .form-container {
    width: 80%;
    border: 0;
    margin: 0 5vw;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 1023px) {
  .form {
    margin: 2vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 2099px) {
  .form {
    width: 70%;
  }
}

.form label {
  font-size: 0.9vw;
  margin-bottom: 0.7vh;
}

@media (max-width: 1023px) {
  .form label {
    font-size: 4.2vw;
  }
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2.4% 0;
}

.firstName,
.lastName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 2099px) {
  .firstName,
  .lastName {
    width: -webkit-fill-available;
  }
}

.lastName label {
  position: relative;
  left: 9.3%;
}

.company,
.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 1.2% 0;
}

#firstName,
#lastName {
  width: 90%;
}

#lastName {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#company,
#email {
  width: 100%;
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 1vw;
}

@media (max-width: 1023px) {
  #company,
  #email {
    background-size: 3vw;
  }
}

#firstName,
#lastName,
#company,
#email {
  height: 2.4vw;
  border: 1px solid #dfdfdf;
  border-radius: 0.4rem;
}

@media (max-width: 1023px) {
  #firstName,
  #lastName,
  #company,
  #email {
    height: 6vh;
  }
}

#error-company,
#alert-company,
#no-company,
#error-email,
#alert-email,
#no-email {
  display: none;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1% 0;
}

#submit {
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #0a7fab;
  padding: 0.7vh 2vw;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 2099px) {
  #submit {
    padding: 1.5vh 2vw;
  }
}

@media (max-width: 1023px) {
  #submit {
    padding: 1.5vh 2vw;
  }
}

.company-error {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 8.4vh 4.5vh 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1023px) {
  .info {
    border: 0;
    margin: 4vw;
  }
}

.info [id^="text-icon"] {
  width: 2.6vw;
  height: 2.6vw;
}

@media (max-width: 1023px) {
  .info [id^="text-icon"] {
    width: 10vh;
    height: 10vh;
  }
}

[class^="info-text-container-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0;
}

@media (max-width: 1023px) {
  [class^="info-text-container-"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

[class^="info-text-container-"] h5 {
  font-size: 0.9vw;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  margin-left: 1vw;
}

@media (max-width: 1023px) {
  [class^="info-text-container-"] h5 {
    font-size: 1.5vh;
    margin: 2vh 0 0 0;
  }
}

.info-help-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2.6vw 0;
}

@media (max-width: 1023px) {
  .info-help-container {
    margin: 2.6vw auto;
  }
}

.help-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1vw;
}

.help-texts h5 {
  font-size: 1vw;
}

@media (max-width: 1023px) {
  .help-texts h5 {
    font-size: 3vw;
  }
}

.bl {
  color: #0ea5dc;
}

#help-icon {
  width: 3.6vw;
}

@media (max-width: 1023px) {
  #help-icon {
    width: 12vh;
  }
}
/*# sourceMappingURL=main.css.map */