@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  //   font-family: "Nunito", sans-serif;
}

// ff3b40 ffcd40 63ba36

@import "./components/header.scss";
@import "./components/title.scss";
@import "./components/main.scss";
@import "./components/footer.scss";

$button-blue: #0a7fab;

.form-container {
  transform: translateX(-1%);
  height: 36vh;
  flex: 1.28;
  margin: 0 1.5vh;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1023px) {
    width: fit-content;
    border: 0;
    margin: 0 5vw;
  }
}

.form {
  display: flex;
  transform: translateY(-7.2%);
  flex-direction: column;
  margin: auto;
  width: fit-content;
  height: fit-content;
  align-self: center;
  @media (max-width: 1023px) {
    margin: 3vh;
  }

  @media (min-width: 2099px) {
    width: 70%;
  }

  label {
    font-size: 0.9vw;
    margin-bottom: 0.7vh;
    @media (max-width: 1023px) {
      font-size: 4.2vw;
    }
  }
}

.name {
  display: flex;
  justify-content: space-between;
  // width: fit-content;
}

.firstName,
.lastName {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.lastName {
  label {
    position: relative;
    left: 9.3%;
  }
}

.company,
.email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.name,
.company,
.email {
  margin: 2.4% 0;
}

#firstName,
#lastName {
  width: 90%;
  height: 2.4vw;
  border: 1px solid #dfdfdf;
}
#lastName {
  align-self: flex-end;
}

#company,
#email {
  width: 100%;
  height: 2.4vw;
  border: 1px solid #dfdfdf;
}

#firstName,
#lastName,
#company,
#email {
  @media (max-width: 1023px) {
    height: 6vh;
  }

  background-image: url("./resources/error-icon.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 1vw;
}

.submit {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 6% 0 5%;

  @media (max-width: 1023px) {
    // margin: 5%;
  }
}
#submit {
  border-radius: 4.2%;
  font-size: 1.2rem;
  background-color: $button-blue;
  padding: 0.7vh 2vw;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  @media (max-width: 1023px) {
    padding: 2vh 6vh;
  }
}

.company-error {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 8.4vh 4.5vh 0;
  height: fit-content;
  width: fit-content;

  @media (max-width: 1023px) {
    border: 0;
    margin: 0;
    margin: 5vw;
  }
  [id^="text-icon"] {
    width: 2.6vw;
    height: 2.6vw;
    @media (max-width: 1023px) {
      width: 10vh;
      height: 10vh;
    }
  }
}
[class^="info-text-container-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0;

  h5 {
    font-size: 0.9vw;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    margin-left: 1vw;
  }
}

.info-help-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 2.6vw 0;
}

.help-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;

  h5 {
    font-size: 1vw;
  }
}

#help-icon {
  width: 3.6vw;
}
