$backgroundGrey: #f7f7f7;
$blue1: #0ea5dc;
$blue2: #0a7fab;
$iconBlue: #0ea5da;
$helpLinkBlue: #2cb0e0;
$footerBlue: #0a7fab;

@mixin CircleBox {
  padding: 18px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
@mixin textIcon {
  display: inline-block;
  width: 32px;
  //   vertical-align: middle;
}
@mixin footerLists {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 40px;
  color: white;
  a {
    text-decoration: none;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    a {
      color: rgba(255, 255, 255, 0.534);
    }
  }
}
* {
  margin: 0;
}

body {
  background-color: $footerBlue;
}
.top {
  background-color: $backgroundGrey;
}
#header-logo {
  position: relative;
  display: block;
  margin: 0 200px;
  width: 108px;
  padding: 15px 10px 10px;
}
.title {
  background-color: $blue1;
  color: white;
  text-align: center;
  height: 182px;
}
.titleText {
  padding: 40px;
}
.circle {
  @include CircleBox();
  position: absolute;
  top: 219px;
  // left: 345px;
  // left: 50% ;
  background-color: $backgroundGrey;
  width: fit-content;
  height: fit-content;
  z-index: 100;
}
#formIcon {
  width: 30px;
}
.mainz-partz {
  text-align: center;
  height: 462px;
  background-color: $backgroundGrey;
}
.my-form {
  // left: 210px;

  position: absolute;
  padding: 48px 81px 100px;
  display: inline-block;
  background-color: white;
  z-index: 90;
}
.iconz-textz {
  display: inline-block;
  position: relative;
  top: 60px;
  margin-left: 60px;
}
.daFirstz,
.daSecondz,
.daThirdz,
.daFourthz {
  display: flex;
  align-items: center;
  width: 300px;
}

#text-icon1,
#text-icon2,
#text-icon3 {
  @include textIcon;
}

#help-icon {
  display: inline-block;
  width: 45px;
}
.daFirstzTextz,
.daSecondzTextz,
.daThirdzTextz,
.daFourthzTextz {
  padding: 5px 10px;
  text-align: left;
}

.daFourthz {
  margin-top: 20px;
}

.footer {
  text-align: center;
  height: 100%;
}

.contentz {
  margin: 30px 10px;
}

.col-one {
  @include footerLists();

  h5 {
    margin-top: 115px;
    font-size: 8px;
  }
}

.col-two {
  @include footerLists();
}

.col-three {
  @include footerLists();
}

.col-four {
  @include footerLists();
  li {
    //   display: inline-block;

    img {
      // display: inline-block;
      width: 10px;
      vertical-align: middle;
    }
  }
}

#footer-logo {
  width: 70px;
}
