body {
  display: flex;
  flex-direction: column;
}
img {
  width: 100px;
}
.header {
  display: flex;
  flex-direction: column;
}

.top {
  order: 1;
}

.title {
  display: flex;
}
.titleTextz {
}

.main-partz {
}
