@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

// ff3b40 ffcd40 63ba36

@import "./components/header.scss";
@import "./components/title.scss";
@import "./components/main.scss";
@import "./components/footer.scss";

