$footer-blue: #0a7fab;

.footer {
  background-color: $footer-blue;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 52.2vw;
  height: 16.4vh;
  border: 1px solid black;
  margin: 2.7vh 11vh 0 0;

  @media (max-width: 1023px) {
    margin: 2.7vh 0 0 0;
  }
}
